absl-py==2.3.1
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///D:/bld/aiohttp_1753805015402/work
aiohttp-retry @ file:///home/conda/feedstock_root/build_artifacts/aiohttp-retry_1743371080905/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
altair==5.5.0
annotated-types==0.7.0
anyio==4.10.0
asttokens==3.0.0
astunparse==1.6.3
async-timeout==4.0.3
atomicwrites==1.4.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
beautifulsoup4==4.13.4
bidict==0.23.1
blinker @ file:///C:/b/abs_b1i87khtob/croot/blinker_1737448732095/work
Brotli @ file:///D:/bld/brotli-split_1749229870877/work
CacheControl==0.14.3
cachetools==5.5.2
certifi==2025.7.14
cffi @ file:///D:/bld/cffi_1725560649097/work
charset-normalizer==3.4.2
click==8.1.8
cmake==4.2.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm==0.2.3
contourpy==1.3.2
cryptography==45.0.6
cycler==0.12.1
dataclasses-json==0.6.7
debugpy==1.8.15
decorator==5.2.1
deepface==0.0.96
defusedxml==0.7.1
distro==1.9.0
dlib @ file:///D:/bld/dlib_1697537197896/work
dnspython==2.8.0
docopt==0.6.2
et_xmlfile==2.0.0
eventlet==0.40.3
exceptiongroup==1.3.0
executing==2.2.0
face-recognition==1.3.0
face_recognition_models==0.3.0
faiss-cpu==1.11.0.post1
filelock==3.18.0
fire==0.7.1
firebase_admin==7.1.0
Flask @ file:///C:/b/abs_28dbmjidmh/croot/flask_1756453142071/work
flask-cors==6.0.1
Flask-SocketIO==5.5.1
flatbuffers==25.2.10
fonttools==4.59.0
fpdf @ file:///home/conda/feedstock_root/build_artifacts/fpdf_1606859403225/work
fpdf2==2.8.4
frozenlist @ file:///D:/bld/frozenlist_1752167168686/work
fsspec==2025.7.0
gast==0.6.0
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-core==2.4.3
google-cloud-firestore==2.21.0
google-cloud-storage==3.3.0
google-crc32c==1.7.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
greenlet==3.2.4
grpcio==1.74.0
grpcio-status==1.74.0
gTTS==2.5.4
gunicorn==23.0.0
h11==0.16.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
h5py==3.14.0
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.34.4
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
iniconfig==2.3.0
ipykernel==6.30.0
ipython==8.37.0
itsdangerous @ file:///C:/b/abs_c4vwgdr5yn/croot/itsdangerous_1716533399914/work
jax==0.6.2
jaxlib==0.6.2
jedi==0.19.2
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
jiter==0.10.0
joblib==1.5.1
Js2Py==0.74
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
keras==3.11.0
kiwisolver==1.4.8
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.74
langchain-text-splitters==0.3.9
langsmith==0.4.13
libclang==18.1.1
lightecc==0.0.3
lightphe==0.0.15
lz4==4.4.5
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
marshmallow==3.26.1
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.14
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
ml_dtypes==0.5.3
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.1.1
mtcnn==1.0.0
multidict @ file:///D:/bld/multidict_1751310589600/work
mypy_extensions==1.1.0
namex==0.1.0
narwhals==2.0.1
nest-asyncio==1.6.0
networkx==3.4.2
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp310-cp310-win_amd64.whl#sha256=ebb5aa2b36d8afa5ec3231c19e5a1fc75b6d85e7db483f0fb9e77dad58469977
openai==1.99.9
opencv-contrib-python==4.11.0.86
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.17.0
orjson==3.11.1
packaging==25.0
pandas==2.3.1
parso==0.8.4
pillow==11.3.0
pillow_heif==1.1.1
pipwin==0.5.2
platformdirs==4.3.8
pluggy==1.6.0
prompt_toolkit==3.0.51
propcache @ file:///D:/bld/propcache_1744524966467/work
proto-plus==1.26.1
protobuf==4.25.8
psutil==7.0.0
pure_eval==0.2.3
py==1.11.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.11
PyAutoGUI==0.9.54
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydeck==0.9.1
pydub==0.25.1
PyGetWindow==0.0.9
Pygments==2.19.2
pyjsparser==2.7.1
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1732782409051/work
PyMsgBox==2.0.1
pyparsing==3.2.3
pypdf==6.0.0
pyperclip==1.10.0
PyPrind==2.11.3
PyRect==0.2.0
PyScreeze==1.0.1
pySmartDL==1.3.4
PySocks @ file:///D:/bld/pysocks_1733217287171/work
pytest==7.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==4.12.3
python-socketio==5.14.2
pytweening==1.2.0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
pywin32==311
PyYAML==6.0.2
pyzmq==27.0.0
qrcode @ file:///home/conda/feedstock_root/build_artifacts/qrcode_1746214971449/work
referencing==0.36.2
regex==2025.7.34
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1749498106507/work
requests-toolbelt==1.0.0
retina-face==0.0.17
rich==14.1.0
rpds-py==0.27.0
rsa==4.9.1
safetensors==0.6.2
scikit-learn==1.7.1
scipy==1.15.3
seaborn==0.13.2
sentence-transformers==5.1.0
sentencepiece==0.2.1
simple-websocket==1.1.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sounddevice==0.5.2
soundfile==0.13.1
soupsieve==2.7
SpeechRecognition==3.14.3
SQLAlchemy==2.0.43
stack-data==0.6.3
streamlit==1.48.0
streamlit-audiorec==0.1.3
streamlit-camera-input-live==0.2.0
streamlit-drawable-canvas==0.9.3
sympy==1.12
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1733589744265/work
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.1.0
tf_keras==2.19.0
threadpoolctl==3.6.0
tiktoken==0.11.0
tokenizers==0.21.4
toml==0.10.2
tomli==2.3.0
torch==2.8.0
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.55.1
twilio @ file:///home/conda/feedstock_root/build_artifacts/twilio_1753388726408/work
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
tzdata==2025.2
tzlocal==5.3.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
watchdog==6.0.0
wavio==0.0.9
wcwidth==0.2.13
Werkzeug @ file:///C:/b/abs_c7bupijx2_/croot/werkzeug_1737448709012/work
wfdb==4.3.0
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
wrapt==1.17.2
wsproto==1.2.0
yarl @ file:///D:/bld/yarl_1749554852283/work
zstandard==0.23.0
