aiohappyeyeballs==2.6.1
flask==2.3.2
requests==2.31.0
numpy==2.3.4
pandas==2.1.1
opencv-python==4.13.0.92
Werkzeug==3.1.6
Jinja2==3.1.6
itsdangerous==2.2.0
click==8.3.1
blinker==1.9.0
charset-normalizer==3.4.5
idna==3.11
urllib3==2.6.3
certifi==2026.2.25
colorama==0.4.6
MarkupSafe==3.0.3
gunicorn